@charset "UTF-8";

@import 'framework';

$basefont: 'Open Sans';
$basesize: 16px;
$h1size: 3rem;
$h3size: 1.5rem;

$yellow: #ffeb3b;

$borderRadius: 25px;

body {
    background: #439346;
    font-family: $basefont;
    font-size: $basesize;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: $h1size;
    color: $yellow;
}

h3 {
font-size: $h3size;
}


.btn {
    padding: 5px 10px;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        color: #ffffff;
        background: #9dc809;
        -webkit-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.54);
        -moz-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.54);
        box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.54);
    }
}


.inactive {
    opacity: 0.5;
    pointer-events: none;
}






.main-wrapper {
    width: 100vw;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;

    border: 5px solid #a29522;
    padding: 25px;
    border-radius: $borderRadius;
}

.titleHolder {
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
}

.gameHolder {
    margin-bottom: 50px;
}


.cardsHolder {
    width: 100%;
    clear: both;
    text-align:     center;
    min-height: 165px;
    ul {
        width: 100%;
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }

    .score {
        font-size: 18px;
        padding: 20px;
    }
}

.card {
    width: 100px;
    height: 145px;
    background-image: url('../cards/back.png');
    background-size: contain;
    &.inactive{

    }
    img {
        width: 100%;
    }
}

.statusTxt {
    margin: 10px 0;
    border: 3px solid $yellow;
    border-radius: $borderRadius;
    text-align: center;
    font-size: 1.5rem;
    color: #FFEB3B;
    padding: 25px;
}

.gameControls {
    text-align: center;
    padding: 20px 0;

}

.scoreInfo {
    text-align: center;
    h3 {
        margin-bottom: 15px;
        text-align: center;
    }
    .btn {
        margin: 5px auto;
    }
}

.bankerScoreHolder,
.playerScoreHolder {
    color: #ffeb3b;
    font-size: 1.5rem;
    display: inline-block;
    padding: 10px;
    margin: 5px;

}